


body {
  margin: 0;
  min-width: 250px;
  /*background-color: lightgrey;*/
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

.header {
  background-color: lightgrey;
  padding: 10px 30px;
  color: white;
  text-align: center;
}

.header {
  content: "";
  display: flex;
  clear: both;
}






input {
  margin: 0 0 1em .2em;
  padding:  .2em .5em;
  width: 100%;
  line-height: 3;
  font-size: 12px;
  background-color: #fffbf0;
  border: 1px solid #e7c157;
}


ul {

  margin: 0px;
  padding: 0px;
}

.list {
  margin: 10px;
}

.erledigt {
  margin: 10px;
}

ul li {
  border: 1px solid black;
  border-radius: 5px;
  list-style-type: none;
  font-size: 20px;
  cursor: pointer;
  padding: 3px;
  margin-bottom: 3px;
  background-color: #eeeeee;

}

